<div id="sect1">  
    <div class='card mx-5 my-5' id=card1>
        <form (ngSubmit)="AddBook()">
            <div class='card-header'>
                New Book
            </div>
            <div class='card-body'>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><label>Book Id</label></td>
                                <td><input type="text" name="p-id"[(ngModel)]='bookItem.bookId'></td>
                            </tr>
                            <tr>
                                <td><label>Book Name</label></td>
                                <td><input type="text" name="p-name"[(ngModel)]='bookItem.bookName'></td>
                            </tr>
                            <tr>
                                <td><label>Author</label></td>
                                <td><input type="text" name="p-code"[(ngModel)]='bookItem.Author'></td>
                            </tr>
                            <tr>
                                <td><label>Book Description</label></td>
                                <td><input type="text" name="p-desc"[(ngModel)]='bookItem.description'></td>
                            </tr>
                            <tr>
                                <td><label>Book imageUrl</label></td>
                                <td><input type="text" name="p-image"[(ngModel)]='bookItem.imageUrl'></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input  class="btn btn-dark" type="submit" value="Submit"></td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </form>
    </div>
</div>